@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
}

.neuphorism{
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow:  15px 15px 38px #bfbfbf,
                 -15px -15px 38px #ffffff;
}
